<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<img src="../static/money-icon.png" style="width: 40px; height: 40px;"/>
	<a class="navbar-brand" href="/"><h2 class="green-text">Expense<span class="text-light">Tracker</span></h2></a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/"><h5 class="text-light">Home</h5><span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about"><h5 class="text-light">About</h5></a>
			</li>
			{% if session.logged_in %}
			<li class="nav-item">
				<a class="nav-link" href="/addTransactions"><h5 class="text-light">Add Transactions</h5><span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/transactionHistory"><h5 class="text-light">Transaction History</h5><span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout"><h5 class="text-light">Logout</h5><span class="sr-only"></span></a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="/signup"><h5 class="text-light">Sign Up</h5></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login"><h5 class="text-light">Login</h5><span class="sr-only"></span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
