{% extends 'layout.html' %} {% block body %}
<div class="text-dark text-center jumbotron" style="background-color: #d9d9d9; margin-top: 20px;">
	<h1><u>About</u></h1>
	<h5>
		As college students, we always thought we must track our expenses and make sure we spend it on the right
		things.That's what sparked the idea of this expense tracker app.
	</h5>
	<h5>
		This app helps you track your daily expenses.You can feed in your expenses in this app and refer to the expenses you
		made throughout the day,month and even year.
	</h5>
	<h5>It gives you a month-wise total of your expenses and helps you compare your monthly expenses.</h5>
	<h6>App Version: v0.1.0</h6>
</div>
<div class="text-light text-center">
	<h1>Our Team</h1>
	<div class="d-inline">
		<div class="card mb-3 float-left" style="max-width: 540px; height: 350px; background-color: #d9d9d9;">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img src="../static/kavishimg.jpg" class="card-img" alt="..." style="height: 349px; width: 275px;" />
				</div>
				<div class="col-md-6 text-dark">
					<div class="card-body text-center">
						<h4 class="card-title"><u>Kavish Shah</u></h4>
						<p class="card-text" style="font-size: 20px;">
							Kavish is a Computer Engineering student at Thadomal Shahani Engineering College. A ML and AI enthusiast. Passionate about Sports and new technology.
						</p>
						<ul
							class="inline card-text text-center"
							style="list-style: none; display: flex; flex-direction: row; border-top: 1px solid #212529;"
						>
							<li>
								<a href="https://www.linkedin.com/in/kavish-shah-501b32192/" class="btn btn1">
									<i class="fa fa-linkedin" style="font-size: 30px;"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/KavishShah09" class="btn btn2">
									<i class="fa fa-github" style="font-size: 30px;"></i>
								</a>
							</li>
							<li>
								<a href="https://twitter.com/Kavish_Shah09" class="btn btn2">
									<i class="fa fa-twitter" style="font-size: 30px;"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="card mb-3 float-right" style="max-width: 540px; height: 350px; background-color: #d9d9d9;">
		<div class="row no-gutters">
			<div class="col-md-6">
				<img src="../static/yashimg.jpg" class="card-img" alt="..." style="height: 349px; width: 267px;" />
			</div>
			<div class="col-md-6 text-dark">
				<div class="card-body text-center">
					<h4 class="card-title"><u>Yash Jhaveri</u></h4>
					<p class="card-text" style="font-size: 17px;">
						Yash is a Computer Science student studying in Dwarkadas J Sanghvi College of Engineering. He is an
						enthusiastic learner and is passionate about technology and food.He loves innovation and wants to make this
						world a better place.
					</p>
					<ul
						class="inline card-text text-center"
						style="list-style: none; display: flex; flex-direction: row; border-top: 1px solid #212529;"
					>
						<li>
							<a href="https://www.linkedin.com/in/yash-jhaveri-3b0882192/" class="btn btn1">
								<i class="fa fa-linkedin" style="font-size: 30px;"></i>
							</a>
						</li>
						<li>
							<a href="https://github.com/yashjhaveri05" class="btn btn2">
								<i class="fa fa-github" style="font-size: 30px;"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/Yash07633994" class="btn btn2">
								<i class="fa fa-twitter" style="font-size: 30px;"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-top: 400px;"></div>
{% endblock %}
