{% extends 'layout.html' %} {% block body %}
<div class="add">
	<h2 class="text-light">Add Transactions</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form class="form" method="POST" action="">
		<div class="form-group row">
			<div class="form-group col-md-6">
				<input
					type="number"
					placeholder="Enter Amount"
					class="form-control"
					name="amount"
					value="{{request.form.amount}}"
				/>
			</div>
			<div class="form-group category col-md-6">
				<select name="category" id="category" class="form-control">
					<option value="Miscellaneous" selected="selected">Select Category</option>
					<option value="Miscellaneous">Miscellaneous</option>
					<option value="Food">Food</option>
					<option value="Transportation">Transportation</option>
					<option value="Groceries">Groceries</option>
					<option value="Clothing">Clothing</option>
					<option value="HouseHold Accessories">HouseHold Accessories</option>
					<option value="Rent">Rent</option>
					<option value="Bills">Bills</option>
					<option value="Vacations">Vacations</option>
					<option value="Taxes">Taxes</option>
					<option value="Business Related">Business Related</option>
				</select>
			</div>
			<div class="form-group col-md-9 col-lg-10">
				<input
					type="text"
					placeholder="Enter Description"
					name="description"
					class="form-control"
					value="{{request.form.description}}"
				/>
			</div>
			<div class="form-group col-md-3 col-lg-2 btn">
				<button type="submit" class="btn btn-primary">Add Transactions</button>
			</div>
		</div>
	</form>

	{% if result != 0%}
	<div class="current-month">
		<h4 class="text-light float-left">
			Expenses Made This Month = <span class="green-text expense">₹ {{totalExpenses}}</span>
		</h4>
		<p class="text-light float-left swipe">Swipe to Edit/Delete</p>
	</div>
	<div class="table-responsive">
		<table class="table table-striped text-light">
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
			{% for transaction in transactions %}
			<tr>
				<td>{{transaction.date}}</td>
				<td>{{transaction.amount}}</td>
				<td>{{transaction.category}}</td>
				<td>{{transaction.description}}</td>
				<td><a href="editCurrentMonthTransaction/{{transaction.id}}" class="btn btn-primary pull-right">Edit</a></td>
				<td>
					<form action="{{url_for('deleteCurrentMonthTransaction', id=transaction.id)}}" method="post">
						<input type="hidden" name="_method" value="DELETE" />
						<input type="submit" value="Delete" class="btn btn-danger" />
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{%endif%} {% endblock %}
