{% extends 'layout.html' %} {% block body %}
<div class="add">
	<h2 class="text-light">Add Transactions</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form class="form" method="POST" action="" >
		<div class="form-group row">
			<div class="form-group col-md-4">
				<input
					type="number"
					placeholder="Enter Amount"
					class="form-control"
					name="amount"
					value="{{request.form.amount}}"
				/>
			</div>
			<div class="form-group col-md-6">
				<input
					type="text"
					placeholder="Enter Description"
					name="description"
					class="form-control"
					value="{{request.form.description}}"
				/>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary">Add Transactions</button>
			</div>
		</div>
	</form>

	{% if result != 0%}
	<div class="current-month">
		<h3 class="text-light">
			Expenses Made This Month = <span class="green-text">₹ {{totalExpenses}}</span>
		</h3>
	</div>
	<div class="table-responsive">
		<table class="table table-striped text-light">
			<tr>
				<th>Date</th>
				<th>Amount</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
			{% for transaction in transactions %}
			<tr>
				<td>{{transaction.date}}</td>
				<td>{{transaction.amount}}</td>
				<td>{{transaction.description}}</td>
				<td><a href="editTransaction/{{transaction.id}}" class="btn btn-primary pull-right">Edit</a></td>
				<td>
					<form action="{{url_for('deleteTransaction', id=transaction.id)}}" method="post">
						<input type="hidden" name="_method" value="DELETE" />
						<input type="submit" value="Delete" class="btn btn-danger" />
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{%endif%} {% endblock %}
