{% extends 'layout.html' %} {% block body %}
<div class="signUp container text-white">
	<h2 class="text-center">Sign Up</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form action="" method="post">
		<div class="green-text form-group">
			{{render_field(form.first_name, class_="form-control")}}
		</div>
		<div class="green-text form-group">
			{{render_field(form.last_name, class_="form-control")}}
		</div>
		<div class="green-text form-group">
			{{render_field(form.email, class_="form-control")}}
		</div>
		<div class="green-text form-group">
			{{render_field(form.username, class_="form-control")}}
		</div>
		<div class="green-text form-group">
			{{render_field(form.password, class_="form-control")}}
		</div>
		<div class="green-text form-group">
			{{render_field(form.confirm, class_="form-control")}}
		</div>
		<p class="text-center"><input class="btn btn-info" type="submit" value="Submit" /></p>
	</form>
	<p class="account">Have an account?<a class="green-text" href="/login">Login</a></p>
</div>
{% endblock %}
