{% extends 'layout.html' %} {% block body %}
<div class="container">
	<h2 class="text-light" style="text-align: center; padding-top: 20px;">Transaction History</h2>
	<h3 class="text-light">Total Expenses = {{totalExpenses}}</h3>
	<table class="table table-striped text-light">
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>
		{% for transaction in transactions %}
		<tr>
			<td>{{transaction.date}}</td>
			<td>{{transaction.amount}}</td>
			<td>{{transaction.description}}</td>
			<td><a href="editTransaction/{{transaction.id}}" class="btn btn-primary pull-right">Edit</a></td>
			<td>
				<form action="{{url_for('deleteTransaction', id=transaction.id)}}" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<input type="submit" value="Delete" class="btn btn-danger" />
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
