{% extends 'layout.html' %} {% block body %}
<div class="container">
	<h1 class="text-light">Expenses</h1>
	<h1 class="text-light">Your Expenses =</h1>
	<table class="table table-striped text-success">
		<tr>
			<!--<th>ID</th>-->
			<th>Date</th>
			<th>Amount</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>
		{% for transaction in transactions %}
		<tr>
			<!--<td>{{transaction.id}}</td>-->
			<td>{{transaction.date}}</td>
			<td>{{transaction.amount}}</td>
			<td>{{transaction.description}}</td>
			<td><a href="editTransaction/{{transaction.id}}" class="btn btn-primary pull-right">Edit</a></td>
			<td><form action="{{url_for('deleteTransaction', id=transaction.id)}}" method="post">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete" class="btn btn-danger">
			  </form></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
