.green-text {
	color: #bada55;
}

.green {
	color: #bada55;
}

.navbar {
	border-bottom: 2px solid #bada55;
}

.about {
	background-color: #e4e3e3;
	margin-top: 20px;
}

.team .cards {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.team .card {
	max-width: 540px;
	height: 350px;
	background-color: #d9d9d9;
	border: 5px solid #bada55;
}

.team .card-1 img {
	height: 341px;
	width: 275px;
}

.team .card-1 .card-text {
	font-size: 17px;
}

.team .card-1 .card-body ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #212529;
}

.team .card-1 .card-body ul li i {
	font-size: 30px;
}

.team .card-2 img {
	height: 341px;
	width: 267px;
}

.team .card-2 .card-text {
	font-size: 17px;
}

.team .card-2 .card-body ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #212529;
}

.team .card-2 .card-body ul li i {
	font-size: 30px;
}

.history {
	margin-top: 25px;
}

.history .info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.history .select-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.history .month .pie_chart{
	margin-left: 10px;
	margin-bottom: 5px;
}
.history .month .bar_chart{
	margin-right: 10px;
	margin-bottom: 5px;
}
.history .month .line_chart{
	margin-right: 10px;
	margin-bottom: 5px;
}

.history .select-list .month {
	margin-left: 45px;
}

.history .swipe {
	visibility: hidden;
}

.history .table tr {
	font-size: 1.1rem;
}

.add .current-month .pie_chart{
	margin-left: 10px;
	margin-bottom: 5px;
}
.add .current-month .bar_chart{
	margin-right: 10px;
	margin-bottom: 5px;
}
.add .current-month .line_chart{
	margin-right: 10px;
	margin-bottom: 5px;
}

.add .swipe {
	visibility: hidden;
}

.add h2 {
	text-align: center;
	padding-top: 20px;
}
.add .form .btn {
	padding-top: 0px;
	height: 38px;
}

.login .enter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.login .enter .forgot{
	margin: 10px;
}

.login .enter .submit{
	font-size: 1.2rem;
}

.login .enter .forgot .link:hover{
	color: #bada55;
}

.login .account {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
	padding-top: 15px;
}

.login .account a {
	padding-left: 10px;
}

.signUp h2 {
	margin-top: 20px;
}

.signUp .account {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
}

.signUp .account a {
	padding-left: 10px;
}

.hover:hover {
	color: #bada55;
}

@media only screen and (max-width: 500px) {
	.history .select-list .month {
		margin-left: 0px;
	}
	.history .month{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.history .month .pie_chart{
		margin-bottom: 10px;
		margin-left: 0px;
	}
	.history .month .bar_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.history .month .line_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.history .swipe {
		visibility: visible;
		font-size: 1rem;
	}
	.add .swipe {
		visibility: visible;
		font-size: 1rem;
	}
	.team .card-1 .card-body {
		visibility: hidden;
	}
	.team .card-2 .card-body {
		visibility: hidden;
	}
	.login .account {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		font-size: 1rem;
	}
	.login .enter{
		display: block;
	}
	.add .current-month{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.add .current-month .pie_chart{
		margin-bottom: 10px;
		margin-left: 0px;
	}
	.add .current-month .bar_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}	
	.add .current-month .line_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 990px) {
	.history .select-list .month {
		margin-left: 0px;
	}
	.history .month{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.history .month .pie_chart{
		margin-bottom: 10px;
		margin-left: 0px;
	}
	.history .month .bar_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.history .month .line_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.history .swipe {
		visibility: visible;
		font-size: 1rem;
	}
	.add .swipe {
		visibility: visible;
		font-size: 1rem;
	}
	.team .card-1 .card-body {
		visibility: hidden;
	}
	.team .card-2 .card-body {
		visibility: hidden;
	}
	.login .account {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		font-size: 1rem;
	}
	.login .enter{
		display: block;
	}
	.add .current-month{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.add .current-month .pie_chart{
		margin-bottom: 10px;
		margin-left: 0px;
	}
	.add .current-month .bar_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
	.add .current-month .line_chart{
		margin-bottom: 10px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 1050px) {
	.add .form .btn {
		padding-top: 0px;
		font-size: 0.85rem;
	}
}
